<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.erlide.core.launch.erlangProcess">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/eclipse"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.erlide.core.arguments" value=""/>
<booleanAttribute key="org.erlide.core.console" value="true"/>
<stringAttribute key="org.erlide.core.cookie" value="erlide"/>
<stringAttribute key="org.erlide.core.extra_args" value=""/>
<stringAttribute key="org.erlide.core.function" value=""/>
<booleanAttribute key="org.erlide.core.has_backend" value="false"/>
<booleanAttribute key="org.erlide.core.loadAllNodes" value="false"/>
<booleanAttribute key="org.erlide.core.longName" value="true"/>
<stringAttribute key="org.erlide.core.module" value=""/>
<stringAttribute key="org.erlide.core.nodeName" value="erlide"/>
<stringAttribute key="org.erlide.core.projects" value="eclipse"/>
<stringAttribute key="org.erlide.core.runtime" value="erlang"/>
<booleanAttribute key="org.erlide.core.startMe" value="true"/>
<stringAttribute key="org.erlide.core.working_dir" value="."/>
</launchConfiguration>
